@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

}
@-webkit-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
:root{
  --accent-color: #68B738;
  --dark-color: #000;
  --white-color:#fff;
}
button{
  cursor: pointer;
}
body {
  font-family: 'Oswald', sans-serif;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
  height: 100vh;
  overflow-x: hidden;
  
}
.container{
  max-width: 1220px;
  margin: 0 auto;
  width: 100%;
}
.header {
  min-height: 694px;
  position: relative;

}
.header-main {
  padding-top: 53px;
  position: absolute;
  z-index: 3;
  
}
.img-header {
 
}
.name-header {
  padding-left: 80px;
  margin-top: 111px;
}
.h1-main {
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: var(--dark-color);
  max-width: 414px;
  margin-bottom: 40px;
}
.p-main {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--dark-color);
  text-transform: uppercase;
  margin-bottom: 52px;
}
.btn-main {
  width: 244px;
  height: 54px;
  padding: 14px 26px;
  text-transform: uppercase;
  border: none;
  color: var(--white-color);
  background: var(--accent-color);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
.btn-main:hover{
  border: 1px solid var(--accent-color);
  
  transition: 0.2s linear;
  color: var(--accent-color);
  background: var(--white-color);
}
.img-header_position {
  position: absolute;
  left: 558px;
  top: 141px;
  z-index: 2;
  animation-name: Appearance;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);
}

.section-btn_afretheader{
  display: none;
}
.position-header {
  position: absolute;
  left: 720px;
  background-image: url(../img/cat-headert.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 720px;
  min-height: 694px;
  
  z-index: 0;
  animation-name: Appearance;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);
}
.position-header::after{
  z-index: 1;
  background: rgba(104, 183, 56, 0.85);
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  
}
.ul-position_header {
  display: flex;
  justify-content: center;
  list-style: none;
  z-index: 2;
  position: relative;
  margin-top: 60px;
  animation-name: Appearance;
  animation-duration: 1.1s;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);
}
.li-position_header {
  margin-right: 35px;
  text-transform: uppercase;
}
.li-position_header:last-child{
  margin-right: 0;
}
.a-position_header {
  color: var(--white-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.a-position_header:hover{
  border-bottom: 2px solid var(--white-color);
  
}
.logo-w_categories{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.menu-header{
  display: none;
}
.ul_header{
  list-style: none;
  margin-left: 50px;
  display: none;
}
.li-header{
  margin-right: 20px;
  text-transform: uppercase;
}
.li-header:last-child{
  margin-right: 0;
}
.a-header{
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--dark-color);
  text-decoration: none;
}
.a-header:hover{
  transition: 0.3s linear;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--accent-color);
}

@media screen and (max-width: 1439px){
  .header{
    min-height: 950px;
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .header-main{
    padding-top: 0;
    position: relative;
  }
  .name-header{
    animation-name: Appearance;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);
  }
  .img-header{
    padding-top: 24px;
  }
  .ul_header{
    display: flex;
    margin-top: 28px;
    animation-name: Appearance;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);
  }
  .logo-w_categories{
    padding-top: 24px;
    align-items: center;
  }
  .position-header{
    display: none;
  }
  .name-header{
    margin-top: 68px;
  }
  .img-header_position{
    left: 115px;
    top: 358px;
  }
}
@media screen and (max-width: 760px){
  .ul_header{
    margin-top: 20px;
    flex-direction: column;
    margin-left: 0;
  }
  .li-header{
    margin-bottom: 20px;
  }
  .li-header:last-child{
    margin-bottom: 0;
  }
  .logo-w_categories{
    display: grid;
    justify-content: center;
  }
  .name-header{
    padding-left: 0;
    text-align: center;
  }
  .h1-main{
    max-width: none;
  }
  .img-header_position{
    left: 0;
    top: 0;
    margin-top: 487px;
    margin-left: 30px;
    position:absolute;
  }
  
}

@media screen and (max-width: 580px){
  .header{
    min-height: 800px;
  }
  .container{
    padding-left: 0;
    padding-right: 0;
  }
  .ul_header{
    display: none;
  }
  .img-header{
    padding-top: 0;
  }
  .logo-w_categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .menu-header{
    color: #000;
    display: block;
  }
  .menu-header i{
    font-size: 30px;
  }
  .name-header{
    background-image: url(../img/cat-min_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    height: 500px;
    animation-name: Appearance;
  animation-duration: 0s;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);
  }
  .name-header::after{
    content : '';
    background: rgba(104, 183, 56, 0.85);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    z-index: 1;
    
  }
  .h1-main, .p-main{
    padding-top: 27px;  
    color: var(--white-color);
    position: relative;
    z-index: 5;
  }
  .h1-main{
    font-size: 40px;
    line-height: 36px;
    font-weight: 400 ;
  }
  .p-main{
    font-size: 14px;
    line-height: 14px;
  }
  .btn-main{
    display: none;
  }
  .img-header_position{
    z-index: 3;
    margin-left: 0;
    margin-top: 0;
    top: 426px;
    width: 100%;
  }
  .section-btn_afretheader{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
  .btn-after_header{
    color: var(--white-color);
    background-color: var(--accent-color);
    height: 50px;
    width: 100%;
    border: none;
    padding: 7px 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    position: relative;
    z-index: 5;
  }
  .btn-after_header:hover{
    transition: 0.2s lianer;
    color: var(--accent-color);
    background: var(--white-color);
    border: 1px solid var(--accent-color);
  }
}


.ways {
  margin-top: 82px;
}
.elems-grid_ways {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 80px;
}
.elem_slim-grid {
  padding: 47px 51px 59px 52px;
  max-width: 570px;
  min-height: 374px;
  background: #f2f2f2;
}
.elems_inlogo-slim {
  display: flex;
  align-items: center;
}
.img-slim {
  margin-right: 62px;
}
.h1-slim {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--dark-color);
}
.p-slim {
  margin-top: 39px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-color);
  margin-bottom: 27px;
}
.elems-a_slim {
  display: flex;
  align-items: center;
}
.a-slim {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--dark-color);
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 28px;
}
.a-slim:hover{
  text-decoration: underline;
  text-decoration-color: #68B738;
  
}
.elem_slim-grid i{
  font-size: 20px;
  color: var(--dark-color);
}
.elem_massa-grid {
  padding: 47px 61px 59px 52px;
  max-width: 570px;
  min-height: 374px;
  background: #f2f2f2;
}
.elems_inlogo-massa {
  display: flex;
  align-items: center;
}
.img-massa {
  margin-right: 62px;
}
.h1-massa {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--dark-color);
}
.p-massa {
  margin-top: 39px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-color);
  margin-bottom: 27px;
}

.elem_massa-grid i{
  font-size: 20px;
}
.img-adaptive768, .img-adaptive768_2{
  display: none;
}
@media screen and (max-width: 1280px){
  .ways{
    padding-left: 30px;
    padding-right: 30px;
  }
  .elems-grid_ways{
    gap: 20px;
  }
}
@media screen and (max-width: 768px){
  .elems-grid_ways{
    grid-template-columns: repeat(1,1fr);
  }
  .img-slim, .img-massa{
    display: none;
  }
  .p-slim{
    margin-bottom: 0;
    margin-top: 0;
    max-width: 377px;
    margin-right: 15px;
  }
  .h1-slim, .h1-massa{
    margin-bottom: 24px;
  }
  .elems-a_slim{
    margin-top: 52px;
  }
  .elem_slim-grid, .elem_massa-grid{
    display: flex;
    align-items: center;
    max-width: 708px;
  }
  .img-adaptive768, .img-adaptive768_2{
    display: block;
    width: 200px;
    height: 200px;
  }
  .img-adaptive768_2{
    width: 250px;
    height: 200px;
  }
  .p-massa{
    margin-bottom: 0;
    margin-top: 0;
    max-width: 342px;
    margin-right: 15px;
  }
  .p-massa br{
    display: none;
  }
  .elems-a_massa{
    margin-top: 52px;
  }
}
@media screen and (max-width: 580px){
  .img-slim, .img-massa{
    display: flex;
    margin-right: 0;
    width: 50px;
    height: 50px;
  }
  .img-adaptive768, .img-adaptive768_2{
    display: none;
  }
  .img-massa{
    width: 60px;
  }
  .h1-massa, .h1-slim{
    margin-left: 19px;
    font-size: 24px;
    line-height: 37px;
    margin-bottom: 25px;
  }
  .p-slim, .p-massa{
    color: #444444;
    padding-bottom: 23px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 19px;
  }
  .elems-a_slim, .elems-a_massa{
    margin-top: 0;
  }
}
.howitworks {
  margin-top: 71px;
  
}
.h1-work {
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: var(--dark-color);
  margin-bottom: 72px;
}
.elems-how_itworks {
  display: flex;
  justify-content: space-between;
  /*justify-items: center;*/
  
}
.elem-how_itwork {
  display: flex;
  position: relative;
}
.elems-without_num{
  z-index: 1;
  
}
.img-howitwork {
  margin-bottom: 31px;
}
.p-howitwork {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
}
.h2-position_howwork {
  
  font-weight: 400;
  font-size: 280px;
  line-height: 280px;
  color: #f2f2f2;
  position: absolute;
  z-index: 0;
  left: 82px;
  top: -46px;
}
.h1-end_howitworks{
  margin-top: 100px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: var(--dark-color);
  padding-bottom: 76px;
}

@media screen and (max-width: 1280px){
  .elems-how_itworks{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 120px;
    justify-items: center;
    padding-bottom: 100px;
    border-bottom: 1px solid #E6E6E6;
  }
  .h1-work{
    text-align: center;
  }
}
@media screen and (max-width: 580px){
  .howitworks{
    padding-left: 20px;
    padding-right: 20px;
  }
  .h2-position_howwork{
    display: none;
  }
  .elems-how_itworks{
    grid-template-columns: repeat(1,1fr);
    justify-items: flex-start;
    row-gap: 20px;
    border: none;
    padding-bottom: 0;
  }
  .h1-work{
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: left;
  }
  .elems-without_num{
    display: flex;
  }
  .img-howitwork{
    margin-right: 20px;
  }
}

.cat {
  min-height: 462px;
  padding-top: 70px;
  padding-bottom: 75px;  
  background: #f2f2f2; 
  position: relative;          
}

.elems-cat{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  
}
.elems-text_cat {
  display: block;
  
}
.p-cat {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  margin-bottom: 69px;
  max-width: 436px;
}
.elems-nums-cat {
  display: flex;
  position: relative;
}
.elems-nums-cat1 {
  padding-right: 42px;
  text-align: center;
  position: relative;
}
.h1-num1_cat {
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: var(--dark-color);
  padding: 15px 57px;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  position: relative;
  z-index: 0;
}
.h1-num2_cat {
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: var(--dark-color);
  padding: 15px 30px;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  position: relative;
  z-index: 0;
}
.p-num1_cat {
  min-height: 50px;
  padding: 0px 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  z-index: 1;
  top: 59px;
  left: 32px;
  position: absolute;
  background: #f2f2f2;
}
.p-num2_cat {
  min-height: 50px;
  padding: 1px 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  z-index: 1;
  top: 58px;
  left: 220px;
  position: absolute;
  background: #f2f2f2;
}
.elems-nums-cat2 {
  text-align: center;
}
.cost-cat {
  margin-top: 60px;
  display: flex;
  align-items: center;
}
.h1-cost1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--dark-color);
  text-transform: uppercase;
  margin-right: 63px;
}
.h1-cost2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}
.cat-scroll {
  display: block;
}
.img-cat_full{
  display: block;
  position: absolute;
  z-index: 1;
  top: -200px;
}
.img-cat {
  position: absolute;
}
.img-cat1 {
  position: absolute;
  left: 365px;
}

.scroll {
  display: flex;
  align-items: center;
}
.h1-scroll {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--dark-color);
  min-height: 30px;
  border-bottom: 1px dashed #444444;
}
.line-scroll {
  width: 428px;
  height: 6px;
  background: #DCDCDC;
  border-radius: 6px;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
}
.img-scrollsphere {
  position: absolute;
  top: -16px;
  right: 50%;
  cursor: pointer;
}
.h1-display_cat{
  display: none;
}

@media screen and (max-width: 1439px){
  .cat{
    background: var(--white-color);
    padding-top: 41px;
  }
  .p-num1_cat, .p-num2_cat{
    background: var(--white-color);
  }
  .p-cat{
    max-width: 708px;
  }
  .h1-end_howitworks{
    padding-bottom: 0;
    margin-bottom: 63px;
  }
  .nums-cat_about{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .img-cat_full{
    display: none;
  }
  .scroll{
    display: none;
  }
  .nums-cat_about{
    width: 100%;
  }
  .cost-cat{
    margin-top: 0;
    display: block;
    text-align: right;
  }
  .h1-cost1{
    margin-right: 0;
  }
}
@media screen and (max-width: 580px){
  .cat{
    padding-left: 20px;
    padding-right: 20px;
  }
}

.map {
  min-height: 400px;
  position: relative;
}
.map-in {
  z-index: 0;
  max-width: 100%;
  width: 1440px;
  height: 400px;
}

form{
  position: absolute;
  overflow: hidden;
  border: none;
}

.elems-about_map {
  background: var(--white-color);
  z-index: 1;
  position: absolute;
  padding: 60px 89px 60px 76px;
  display: flex;
  align-items: center;
  max-width: 570px;
  margin-top: 95px;
  border-radius: 5px;
}
.h1-map {
  margin-right: 87px;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  text-transform: uppercase;
  color: #111111;
}
.elems-adress {
  display: block;
}
.p-map {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  margin-bottom: 19px;
}
.p-map1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}
@media screen and (max-width:768px){
  .elems-about_map{
    padding: 66px 42px 51px 71px;
    margin-top: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  form{
    position: relative;
  }
}
@media screen and (max-width:580px){
  .elems-about_map{
    padding: 0 20px 0 20px;
  }
}

footer{
  min-height: 149px;
  padding-top: 63px;
  padding-bottom: 62px;
  background: #f2f2f2;
}
.elems-infooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.elems-infooter img{
  width: 128px;
  height: 24px;
  
}
.elems-seti {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 129px;
}
.elems-seti i{
  color: #444444;
  font-size: 20px;
}

.academy-footer {
  display: flex;
  align-items: center;
}
.academy-footer img {
  width: 27px;
  height: 34px;
}
.p-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  margin-right: 22px;
}

@media screen and (max-width: 768px){
  footer{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 580px){
  .elems-infooter{
    flex-direction: column;
    justify-content: center;
    padding-top: 39px;
    
  }
  footer{
    padding-top: 0;
    padding-bottom: 0;
  }
  .img1-footer{
    margin-bottom: 32px;
    max-width: 280px;
    
  }
  .elems-seti{
    border-top: 1px solid #D9D9D9;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #D9D9D9;
    width: 280px;
    justify-content: space-around;
  }
  .academy-footer{
    margin-top: 22px;
    width: 280px;
    justify-content: space-between;
    padding-bottom: 22px;
  }
}

.cat-after {
  position: relative;
  display: none;
  height: 500px;
  background: #eaeaea;
}

.cat-scroll_after {
  display: grid;
  justify-items: center;
}
.img-cat_fullafter {
  display: block;
  top: -200px;
  right: 150px;
  position: relative;
  z-index: 1;
}
.img-cat_after {
  position: relative;
}
.img-cat1_after {
  
  position: absolute;
}
.scroll-after {
  top: 400px;
  position: absolute;
  display: flex;
  align-items: center;
  
}
.h1-scrollafter {
  width: 49px;
  height: 30px;
}
.img-cat_afterfat{
  display: none;
}
.line-scrollfat{
  display: none;
}
.p-num1_cat br{
  display: none;
}
.p-num2_cat br{
  display: none;
}
@media screen and (max-width: 1439px){
  .cat-after{
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 860px){
  .h1-end_howitworks{
    display: none;
  }
  .cat{
    margin-top: 50px;
    background: #eaeaea;
  }
  .p-num1_cat, .p-num2_cat{
    background: #eaeaea;
  }
  .nums-cat_about{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    row-gap: 20px;
  }
  .h1-cost2{
    margin-left: 20px;
  }
  .img-cat_fullafter{
    top: -100px;
  }
  .cost-cat{
    justify-content: space-between;
    display: flex;
    padding-top: 20px;
    text-align: center;
  }
  .h1-display_cat{
    display: contents;
    padding-top: 27px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: var(--dark-color);
  }
  .p-cat{
    margin-top: 33px;
  }
  .img-cat_fullafter{
    display: none;
  }
  .img-cat_afterfat{
    
    position: absolute;
    max-width: 411px;
    width: 100%;
    height: 100%;
    height: 332px;
    display: block;
  }
  .h1-scroll{
    border-bottom: none;
  }
  .line-scroll{
    display: none;
  }
  .line-scrollfat{
    display: block;
    width: 150px;
    border: 1px solid #CDCDCD;
    border-radius: 6px;
    background-color: var(--white-color);
    margin-left: 12px;
    margin-right: 12px;
    padding: 4px 43px 4px 6px;
  }
  .sliderfat{
    background: var(--accent-color);
    width: 75px;
    height: 6px;
    border-radius: 6px;
    cursor: pointer;
  }
}

@media screen  and (max-width: 394px){
  .p-num1_cat, .p-num2_cat{
    top: 96px;
    
  }
  
}
@media screen  and (max-width: 375px){
  .p-num1_cat br{
    display: block;
  }
  .p-num1_cat{
    left: 43px;
  }
  .p-num2_cat{
    left: 230px;
  }
  .p-num2_cat br{
    display: block;
  }
}
